<h1>Log in</h1>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
<table>
  <dl class="user_column">
    <dt class="form_label"><%= f.label :email %></dt>
    <dd class="form_input"><%= f.email_field :email %></dd>
  </dl>
  <dl class="user_column">
    <dt class="form_label"><%= f.label :password %></dt>
    <dd class="form_input"><%= f.password_field :password %></dd>
  </dl>
  <%= f.submit "ログイン", class: "btn" %>
<% end %>
