<%= form_with(model: @task, local: true ) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <dl class="task_title">
      <dt class="form_label"><%= form.label :タスク名 %></dt>
      <dd class="form_input"><%= form.text_field :title %></dd>
    </dl>
    <dl class="task_title">
      <dt class="form_label"><%= form.label :タスク詳細 %></dt>
      <dd class="form_input"><%= form.text_field :content %></dd>
    </dl>
    <dl class="task_title">
      <dt class="form_label"><%= form.label :終了期限 %></dt>
      <dd class="form_input"><%= form.date_select :limit %></dd>
    </dl>
    <dl class="task_title">
      <dt class="form_label"><%= form.label :ステータス %></dt>
      <dd class="form_input"><%= form.select :status, Task.statuses.keys.to_a %></dd>
    </dl>
    <dl class="task_title">
      <dt class="form_label"><%= form.label :優先順位 %></dt>
      <dd class="form_input"><%= form.select :priority, Task.priorities.keys.to_a %></dd>
    </dl>

    <dl class="task_title">
      <dt class="form_label"><%= form.label :ラベル %></dt>
      <dd class="form_input">
        <% Label.all.each do |label| %>
          <%= form.check_box :label_ids, { multiple: true, chrcked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>
          <%= label.name %>
        <% end %>
      </dd>
    </dl>
  </table>

  <%= form.submit "登録する", class: "btn" %>
  <%= link_to "もどる", tasks_path, class: "back" %>

<% end %>
