<h1>Sign up</h1>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @user, local: true) do |f| %>
  <table>
    <dl class="user_column">
      <dt class="form_label"><%= f.label :name %></dt>
      <dd class="form_input"><%= f.text_field :name %></dd>
    </dl>
    <dl class="user_column">
      <dt class="form_label"><%= f.label :email %></dt>
      <dd class="form_input"><%= f.email_field :email %></dd>
    </dl>
    <dl class="user_column">
      <dt class="form_label"><%= f.label :password %></dt>
      <dd class="form_input"><%= f.password_field :password %></dd>
    </dl>
    <dl class="user_column">
      <dt class="form_label"><%= f.label :password_confirmation %></dt>
      <dd class="form_input"><%= f.password_field :password_confirmation %></dd>
    </dl>
    <dl class="user_column">
      <dt class="form_label"><%= f.label :admin %></dt>
      <dd class="form_input"><%= f.check_box :admin, {}, true, false %></dd>
    </dl>
  </table>
  <%= f.submit "新規登録", class: "btn" %>
<% end %>
